*{
	font-size: 1.2em;
	font-family: 'Barlow Condensed'; 
}

body {
	font-size: large;
}

.title{
	text-align: center;
}


.nav-item .nav-link{
	background-color: #EA5933;
	color: white;
	padding: 15px;
	margin: 5px;
	margin-left: -50px;
	margin-right: 60px;
}

a {
	text-decoration: none;
	
}

p {

    font-size: 22px;
    letter-spacing: 0;
	margin: 0 0 16px;
}


.container{
	width: 100%;
	padding: 20px;
}

.top-bar{
	color: #fff;
	padding: 1rem;
}

.btn{
	background: #7F847A;
	color: #EA5933;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.7rem 2 rem;
}


.btn:hover{
	opacity: 0.9;
}

.page-info{
	margin-left: 1rem;
}

.error{
	background: orangered;
	color: white;
	padding: 1rem;

}

.column{
	float: left;
}

.left{
	width: 45%;
	
}

.right{
	width: 45%;
}

.row:after{
	clear: both;
}

