<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timeline</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="../demos/css/timeline.css">


</head>
<body>
        <div class="history-tl-container">
                <ul class="tl">
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp"><b>5th March</b><br>Thursday</div>
                    <div class="item-title">DAY 1</div>
                    <div class="item-detail">10:00 Meet & Greet at Airport and Transfer to the Hotel</div>
                    <div class="item-detail">13:00 Lunch at the city centre</div>
                    <div class="item-detail"><a href="../demos/default.html#activity" target="_top">15:00 Aftenoon Activity: Barcelona from the Air</a></div>
					<div class="item-detail">18:00 Free time</div>
					<div class="item-detail">20:00 Dinner near the sea: Restaurant Barceloneta </div>
                  </li>

                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp"><b>6th March</b><br> Friday</div>
                    <div class="item-title"> DAY 2</div>
                    <div class="item-detail">09:30 e.bike tour to Alella</div>
					<div class="item-detail">13:00 Wine tasting and Visit to Bouquet d'Alella</div>
					<div class="item-detail">14:00 Picnic lunch in the vineyard</div>
					<div class="item-detail">16:30 Transfer to the Airport direct from Alella</div>
					<div class="item-detail">17:00 END OF PROGRAMME</div>
                  </li>
                </ul>              
              </div>
</body>
</html>